readme/overview/.DS_Store
readme/.DS_Store
venv
/i18n/*
.env
.env.local
.env.*.local
.claude/
readme/admin-section/.DS_Store
readme/admin-section/course/.DS_Store
readme/admin-section/settings/.DS_Store
readme/admin-section/settings/document-processing/.DS_Store
readme/admin-section/settings/document-processing/import/.DS_Store
readme/admin-section/settings/document-processing/module/.DS_Store
readme/admin-section/settings/global-settings/.DS_Store
readme/admin-section/settings/global-settings/document-types/.DS_Store
readme/admin-section/settings/global-settings/document-types/edi/.DS_Store
readme/admin-section/settings/global-settings/document-types/fields/.DS_Store
readme/admin-section/settings/global-settings/document-types/layout-manager/.DS_Store
readme/admin-section/settings/global-settings/document-types/model-training/.DS_Store
readme/admin-section/settings/global-settings/document-types/regex/.DS_Store
readme/admin-section/settings/global-settings/document-types/table-columns/.DS_Store
readme/admin-section/settings/global-settings/email-notification/.DS_Store
readme/admin-section/settings/global-settings/groups-users-and-permissions/.DS_Store
readme/admin-section/settings/global-settings/groups-users-and-permissions/sub-organizations/.DS_Store
readme/admin-section/settings/global-settings/groups-users-and-permissions/users/.DS_Store
readme/admin-section/settings/global-settings/integration/.DS_Store
readme/admin-section/setup/.DS_Store
readme/admin-section/setup/document-training/.DS_Store
readme/admin-section/setup/document-training/training-line-fields-table-training/.DS_Store
readme/admin-section/setup/importing-customer-master-data/.DS_Store
readme/admin-section/setup/importing-customer-master-data/ln/.DS_Store
readme/admin-section/setup/importing-customer-master-data/m3/.DS_Store
readme/setup/.DS_Store
readme/setup/document-training/.DS_Store
readme/setup/document-training/training-line-fields-table-training/.DS_Store
readme/setup/document-types/.DS_Store
readme/setup/exporting-in-docbits/.DS_Store
api-reference/.DS_Store
api-reference/acl-updater/.DS_Store
api-reference/auto-test/.DS_Store
api-reference/configurations/.DS_Store
api-reference/configurations/oauth2/.DS_Store
api-reference/preferences/.DS_Store
api-reference/sub-organisation-user/.DS_Store
api-reference/vendors/.DS_Store
output/.DS_Store
readme/setup/exporting-in-docbits/exporting-to-infor/.DS_Store
readme/setup/importing-customer-master-data/.DS_Store
readme/setup/importing-customer-master-data/ln/.DS_Store
readme/setup/importing-customer-master-data/m3/.DS_Store
readme/setup/scripting-in-docbits/.DS_Store
readme/setup/testing/.DS_Store
readme/setup/testing/auto-accounting/.DS_Store
